body {
    font-family: sans-serif; 
    margin: 0;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
}


.bloco {
    background-color: #ffffff;
    width: 90%;
    width: 400px;
    height: 600px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee; 
}

.brand {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}


.imagem{
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.form {
    padding: 30px 20px 20px;
}

.form-gp {
    margin-bottom: 15px;
    padding-top: 20px;
}

.form-gpu {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 600;
}


.gp {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD; 
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.296);
}


.submit-btn {
    width: 100%;
    background-color: #e84a5f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: #d13d52;
}